/* Copyright (C) 2013-2019  Stephan Kreutzer
 *
 * This file is part of mixtape.
 *
 * mixtape is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License version 3 or any later version,
 * as published by the Free Software Foundation.
 *
 * mixtape is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Affero General Public License 3 for more details.
 *
 * You should have received a copy of the GNU Affero General Public License 3
 * along with mixtape. If not, see <http://www.gnu.org/licenses/>.
 */
/**
 * @file $/web/mainstyle.css
 * @brief Global style settings.
 * @author Stephan Kreutzer
 * @since 2013-09-14
 */



.noprint
{
    display: none !important;
}

body
{
    font-family: sans-serif;
}

.mainbox_header_h1
{
    text-align: center;
}

.mainbox_body
{
    text-align: justify;
}

.footerbox
{
    display: none !important;
}

.footerbox_link
{
    display: none !important;
}

.license
{
    font-family: monospace;
    text-align: left;
}

.languageselector
{
    display: none !important;
}

.languageselector_text
{
    display: none !important;
}

fieldset
{
    border: 0px;
}

.success
{
    color: green;
}

.error
{
    color: red;
}

